 @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@200;400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    
}

.product {
    object-fit: cover;
    width: 275px;
    object-fit: cover;
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}

.container {
    background-color: white;
    width: 550px;
    display: flex;
    border-radius: 10px;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 30px; 
}

.perfume {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; 
    font-variant: small-caps;
    letter-spacing: 5px;
    color: rgb(105,107,120);
    margin-top: 20px;
    margin-bottom: 0px;

}

.Title {
    font-size: 30px;
    padding-right: 44px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 15px;
    color: hsl(212, 21%, 14%);
}

.des {
    padding-right: 30px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif; 
    margin-top: 20px;
    color: rgb(105,107,120);
    line-height: 20px;
    margin-bottom: 15px;
}


.price {
    display: flex; 
    align-items: center;
    gap: 25px;
    margin-bottom: 0;
}


.new_price {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: hsl(158, 36%, 37%);
    margin: 0px;
}

.line_through {
    text-decoration: line-through;
    font-size: 15px;
    color: rgb(105,107,120);
}

.order {
    background-color: hsl(158, 36%, 37%);
    width: 220px;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif; 
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.logo {
    object-fit: contain;
    width: 15px;

}

