@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;500&display=swap');


body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.qr {
    width: 250px;
    border-radius: 10px;
}

.container {
    width: 250px;
    background-color: white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
}

.Description {
    font-size: 15px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-weight: 400;
}

.title {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
    color: hsl(218, 44%, 22%);
    padding-bottom: 5px;

}

